{% extends 'base.html' %} {% load static %} {% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/carta.css' %}" />
{% endblock %} {% block content %}
<h4>CARTA</h4>
<form method="post" action="{% url 'pedido' %}">
  {% csrf_token %}
  <div class="productos-container">
    {% for producto in carta %}
    <div class="producto-item">
      <div class="producto-info">
        <span class="producto-nombre">{{ producto.nombreProducto }}</span>
        <span class="producto-precio">{{ producto.precio }}€</span>
      </div>
      <div class="producto-cantidad">
        <label for="cantidad_{{ producto.id }}">Cantidad:</label>
        <input
          type="number"
          id="cantidad_{{ producto.id }}"
          name="cantidad_{{ producto.id }}"
          value="0"
          min="0"
        />
      </div>
    </div>
    {% endfor %}
  </div>
  <button type="submit" class="boton-confirmar">Confirmar Pedido</button>
</form>
{% endblock %}
