{%extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{% static 'categoriasRestaurante.css' %}">
    <title>categorias de Restaurante</title>
</head>
<body>
<div class="header">
  <h1>CATEGORÍAS</h1>
</div>


<div class="container">
    
    {% for categoria in categorias %}
    <div>
      <h1> {{categoria.nombreCategoriaRestaurante}}</h1>
      <div class="category">
        
        <img src="{{ categoria.imagen.url }}" alt="Imagen de la Categoria.">
        
    
      </div>

    </div>
    

    
    {% endfor %}
  </div>



<br><br><br><br><br><br><br><br>



</body>
</html>
{% endblock %}
