{% extends 'base.html' %} {% load static %} {% block extra_head %}
<title>categorias de Restaurante</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/categoriasRestaurante.css' %}"
/>
<script src="{% static 'js/categoriasRestaurante.js' %}"></script>

{% endblock %} {% block content %}
<div class="header">
  <h1>CATEGORÍAS</h1>
</div>

<form id="formulario-oculto" method="post" action="{% url 'restaurantes' %}">
  {% csrf_token %}
  <input type="hidden" name="id-categoria" id="input-categoria" />
</form>

<div class="container">
  {% for categoria in categorias %}
  <div onclick="submitForm({{categoria.id}})">
    <h1>{{categoria.nombreCategoriaRestaurante}}</h1>
    <div class="category">
      <img src="{{ categoria.imagen.url }}" alt="Imagen de la Categoria." />
    </div>
  </div>
  {% endfor %}
</div>

<br /><br /><br /><br /><br /><br /><br /><br />

{% endblock %}
