{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{% static 'categoriasRestaurante.css' %}">
    <title>categorias de Restaurante</title>
</head>
<body>
<div class="header">
  <h1>CATEGORÍAS</h1>
</div>

<div class="navbar">
  <span class="open-slide">
    <a href="#" onclick="openSlideMenu()">
      <svg width="30" height="30">
          <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
          <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
          <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
      </svg>
    </a>
  </span>
</div>

<div id="side-menu" class="side-nav">
  <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
  <a href="#categoria1">Ciudades</a>
  <a href="#categoria2">Categorias</a>
  
</div>

<div class="container">
    {% for obj in categorias %}
      <div class="category">
        <img src="{{ obj.imagen.url }}" alt="Imagen de la Categoria.">
    
      </div>
    {% endfor %}
  </div>
  

<div class="footer">
  <button onclick="window.history.back();">Atrás</button>
</div>

<script>
function openSlideMenu() {
  document.getElementById('side-menu').style.width = '250px';
}

function closeSlideMenu() {
  document.getElementById('side-menu').style.width = '0';
}
</script>

</body>
</html>
