{%extends 'base.html' %} {% load static %} {% block extra_head %}

<title>Ciudades</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/ciudades.css' %}" />
<script src="{% static 'js/ciudades.js' %}"></script>

{% endblock %} {% block content %}

<div class="container">
  <h3>¡Selecciona la ciudad deseada!</h3>
  <h4>Ciudades a las que llegamos:</h4>
  <form action="{% url 'categoria_restaurante' %}" method="post">
    <!-- categoria_restaurante es el nombre de la url a la queremos ir, en urls.py-->
    {% csrf_token %}
    <!--requrimiento de seguridad para hacer un post al servidor (tiene que estar si o si)-->
    <select name="id_ciudad" id="ciudad" required>
      <option value="" disabled selected hidden>Selecciona una ciudad</option>
      {% for obj in ciudades %}
      <!-- aqui estamos sacando las opciones que nos vienen del view-->
      <option value="{{ obj.id }}">{{ obj.nombre }}</option>
      {% endfor %}
    </select>
    <button type="submit">Elegir</button>
    <!-- cuando tiene un type submit dentro de un formulario, cuadno clikeas el boton envia el formulario al servidor-->
  </form>
</div>

{% endblock %}
