{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{% static 'ciudades.css' %}">
    <title>Ciudades</title>
</head>

<body>
  <div class="container">
      <h1>¡Selecciona la ciudad deseada!</h1>
      <h2>Ciudades a las que llegamos:</h2>
  
      <select name="ciudad" id="ciudad" required>
          <option value="">Selecciona una ciudad</option>
          {% for obj in ciudades %}
              <option value="{{ obj.id }}">{{ obj.nombre }}</option>
          {% endfor %}
      </select>
  
      <button onclick="myFunction()">Elegir</button>
  </div>
  
  <script>
  function myFunction() {
      var ciudad = document.querySelector('#ciudad').value;
      window.location.href = '/categorias/' + ciudad;
  }
  </script>
  </body>
  