{% extends 'base.html' %} {% load static %} {% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pedido.css' %}" />
{% endblock %} {% block content %}

<h3>RESUMEN DE PEDIDO</h3>

<form id="formulario-oculto" method="post" action="{% url 'informePedido' %}">
  {% csrf_token %}
  <input type="hidden" name="id-restaurante" id="input-restaurante" />
</form>

<h3><br><br> ¡Tu pedido se ha realizado con éxito! Lo recibirás dentro de entre 30 - 45 minutos.</h3>
<br><br>
<h3>Muchas gracias y hasta pronto :D</h3>
<script>
  function enviarFormulario(id) {
    document.getElementById('input-restaurante').value = id;
    document.getElementById('formulario-oculto').submit();
  }
</script>

{% endblock %}
