{% extends 'base.html' %} {% load static %} {% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pedido.css' %}" />
{% endblock %} {% block content %}

<h3>RESUMEN DE PEDIDO</h3>

<form id="formulario-oculto" method="post" action="{% url 'informePedido' %}">
  {% csrf_token %}
  <input type="hidden" name="id-restaurante" id="input-restaurante" />
</form>

<h3><br><br> ¡Tu pedido se ha realizado con éxito! Lo recibirás dentro de entre 30 - 45 minutos.</h3>
<br><br>
<h3>Muchas gracias y hasta pronto :D</h3>

<form id="formulario-oculto" method="post" action="{% url 'informePedido' %}">
  {% csrf_token %}
  <input type="hidden" name="id-restaurante" id="input-restaurante" />
</form>

<div id="contador" style="display: block; margin-top: 20px;">
  <h3><br><br>¡Tu pedido se ha realizado con éxito! Lo recibirás dentro de entre {{ tiempo_entrega }} minutos.</h3>
  <progress id="barra-progreso" value="0" max="1"></progress>
  <button id="boton-actualizar">Actualizar contador</button>
</div>

<script>
  // Configura el contador con el tiempo de entrega inicial
  const minutos = {{ tiempo_entrega }};
  const segundos = 0;

  // Crea un elemento HTML para mostrar el tiempo restante
  const tiempoRestante = document.createElement('p');
  tiempoRestante.textContent = `Minutos restantes: ${minutos}`;
  document.getElementById('contador').appendChild(tiempoRestante);

  // Crea un elemento HTML para mostrar el botón de actualización
  const botonActualizar = document.getElementById('boton-actualizar');

  // Función para actualizar el contador
  function actualizarContador() {
  // Actualiza el tiempo restante cada segundo
  setInterval(() => {
    if (minutos <= 0) {
      // El pedido se ha entregado
      tiempoRestante.textContent = '¡Tu pedido ha sido entregado!';
      botonActualizar.style.display = 'none';
      return;
    }

    segundos--;
    if (segundos < 0) {
      minutos--;
      segundos = 59;
    }

    // Actualiza la barra de progreso
    const barraProgreso = document.getElementById('barra-progreso');
    barraProgreso.value = 45 - (minutos * 60 + segundos);

    // Actualiza el texto del mensaje
    tiempoRestante.textContent = `Minutos restantes: ${minutos}`;
  }, 1000);
}

  // Llama a la función de actualización al hacer clic en el botón
  botonActualizar.addEventListener('click', actualizarContador);

  // Inicializa el contador
  actualizarContador();
</script>

<script>
  function enviarFormulario(id) {
    document.getElementById('input-restaurante').value = id;
    document.getElementById('formulario-oculto').submit();
  }
</script>

{% endblock %}
