{% extends 'base.html' %} {% load static %} {% block extra_head %}

<title>Perfil</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}" />

{% endblock %} {% block content %}

<div class="perfil-container">
  <h3>Perfil del Usuario</h1>
  <div class="datos-perfil">
    <h4>Datos Personales</h2>
    <p><strong>Nombre de Usuario:</strong> {{ user.username }}</p>
    <p><strong>Nombre:</strong> {{ user.first_name }}</p>
    <p><strong>Apellido:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p>
      <strong>Fecha de Nacimiento:</strong> {{perfil.fechaNacimiento }}
    </p>
    <p><strong>Dirección:</strong> {{ perfil.direccion }}</p>
  </div>
</div>

{% endblock %}
