{% extends 'base.html' %} {% load static %} {% block extra_head %}
<title>categorias de Restaurante</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/restaurantes.css' %}" />

  rel="stylesheet"
  type="text/css"
  
<script src="{% static 'js/restaurantes.js' %}"></script>


{% endblock %} {% block content %}

<h1>RESTAURANTES</h1>

<form id="formulario-oculto" method="post" action="{% url 'carta' %}">
  {% csrf_token %}
  <input type="hidden" name="id-restaurante" id="input-restaurante" />
</form>

<div class = "restaurante">
  {% for restaurante in restaurantes %}
    <div onclick="enviarFormulario({{restaurante.id}})">
      <li>{{restaurante.nombreRestaurante}}</li>
      <div class="contenido">
        <img src="{{ categoria.imagen.url }}" alt="Imagen de la Categoria." />
        <div class="descripcion">
          <p>{{restaurante.nombreRestaurante}}</p>
          <p>{{restaurante.nombreRestaurante}}</p>
          <p>{{restaurante.nombreRestaurante}}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
