{% extends 'base.html' %} {% load static %} {% block extra_head %}
<title>Categorías de Restaurante</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/restaurantes.css' %}"
/>
<script src="{% static 'js/restaurantes.js' %}"></script>
{% endblock %} {% block content %}

<h1>RESTAURANTES</h1>

<form id="formulario-oculto" method="post" action="{% url 'carta' %}">
  {% csrf_token %}
  <input type="hidden" name="id-restaurante" id="input-restaurante" />
</form>

<div class="contenedor-restaurantes">
  {% for restaurante in restaurantes %}
  <div
    class="tarjeta-restaurante"
    onclick="enviarFormulario({{ restaurante.id }})"
  >
    <img
      class="imagen-restaurante"
      src="{{ restaurante.imagen.url }}"
      alt="Imagen de {{ restaurante.nombreRestaurante }}"
    />
    <div class="info-restaurante">
      <h2>{{ restaurante.nombreRestaurante }}</h2>
      <p>Una breve descripción del restaurante.</p>
      <a href="#" class="btn btn-ver-menu">Ver Menú</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
