/* Resetear márgenes y rellenos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Asegurarse de que html y body ocupen toda la altura y anchura disponibles */
html, body {
  width: 100%;
  height: 100%;
}

/* Estilos existentes y modificados a continuación */

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para el footer */
.footer, footer {
  text-align: center;
  padding: 10px;
  background: white;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

/* Estilos para el header */
header {
  background-color: #333;
  color: white;
  padding: 15px;
  width: 100%; /* Asegurar que el header ocupe toda la anchura */
}

.header-contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nombreWeb {
  display: flex; /* Establece el contenedor como un flexbox */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.nombreWeb h1 {
  margin: 0; /* Elimina el margen del título */
  flex-grow: 1; /* Permite que el título ocupe el espacio disponible, empujando el logo hacia la derecha */
}

.logoBamp {
  width: 40px; /* Ancho de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  margin-left: 10px;
}

/* Estilos para la navegación */
nav .estilo-header {
  list-style-type: none;
  display: flex;
}

nav .estilo-header li {
  margin-right: 20px;
}

nav .estilo-header a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
}

nav .estilo-header a:hover {
  background-color: white;
  color: #333;
}

.login-logout {
  float: right;
}

.content {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer{
    
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: #333;
  color: white;
  padding: 20px 10px;
}
footer > * { /* Se aplica a todos los elementos directos dentro del footer */
  margin: 0 10px; /* Agrega margen a izquierda y derecha */
}

/* Responsive design */
@media (max-width: 768px) {
  .content {
    width: 100%;
    margin: 0; /* Eliminar margen en dispositivos móviles */
  }
}

.fondo-completo {
  background-color: rgb(35, 121, 208); /* El color de fondo que desees */
  min-height: 100vh; /* Asegurar que cubra toda la altura de la pantalla */
  padding: 20px; /* Agregar algo de espacio alrededor */
}