p {
  font-size: 25px;
  margin-bottom: 20px; /* Aumentar si quieres más espacio después de <p> */
  text-align: center;
  color: white;
  margin-top: 30px;
}

.pnghome {
  text-align: center;
}

h3 {
  font-size: 30px;
  margin-top: 20px; /* Espacio antes de <h3> */
  margin-bottom: 10px; /* Espacio después de <h3> */
  color: white;
  text-align: center; /* Centra el texto dentro de <h3> */
  margin-left: auto; /* Centra <h3> horizontalmente */
  margin-right: auto; /* Centra <h3> horizontalmente */
}

.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #205ab4; /* Color de fondo azul */
  color: white; /* Texto en color blanco */
  text-align: center;
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none; /* Elimina el subrayado del enlace */
  margin-left: 20px;
  cursor: pointer; /* Cursor de mano al pasar sobre el enlace */
}

.btn-primary:hover {
  text-decoration: none; /* Mantiene el enlace sin subrayado al pasar el ratón por encima */
  background-color: #14376d; /* Cambio de color al pasar el cursor */
}



