p {
  font-size: 25px;
  margin-bottom: 20px; /* Aumentar si quieres más espacio después de <p> */
  text-align: center;
  color: white;
  margin-top: 30px;
}

.pnghome {
  text-align: center;
}

h3 {
  font-size: 30px;
  margin-top: 20px; /* Espacio antes de <h3> */
  margin-bottom: 10px; /* Espacio después de <h3> */
  color: white;
  text-align: center; /* Centra el texto dentro de <h3> */
  margin-left: auto; /* Centra <h3> horizontalmente */
  margin-right: auto; /* Centra <h3> horizontalmente */
}



