p {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  margin-top: 30px;
}

.pnghome {
  text-align: center;
  padding: 10px 20px;
}

h3 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.boton-centrado {
  text-align: center;
  margin-top: 20px; /* Ajusta la separación entre la imagen y el botón */
}

.btn-primary {
  display: inline-block;
  padding: 25px 40px;
  margin: 10px auto; /* Actualizado para centrar el botón */
  background-color: #154792;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px; /* Ajusta el tamaño del texto dentro del botón si es necesario */
}

.btn-primary:hover {
  text-decoration: none;
  background-color: #14376d;
}

.responsive-image {
  width: 270px; /* Cambia esto al ancho deseado */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  display: block; /* Evita que haya espacio extra debajo de la imagen */
  margin: auto; /* Centra la imagen y añade un margen arriba y abajo */
}
