body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(35, 121, 208);
  }
  
  h3 {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    position: relative;
    top: 25%;
    transform: translateY(-25%);
    padding-bottom: 30px;
  }
  
  form {
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    
  }

  button:hover {
    background-color: black;
    color: white;
  }

  .centrar-boton {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.password-container {
  position: relative;
}

.password-field {
  padding-right: 30px; 
  width: 87%; 
  display: block; 
}

.eye-icon {
  position: absolute;
  right: 8%; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1em; 
  z-index: 5;
}