/* Estilos Generales */

.main-container {

  display:flex;
  gap: 2rem;
  width: 80%;
  margin:auto;


}

.perfil-container, .pedidos-container {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  flex-grow: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}
h3, h4 {
  text-align: center;
  color: #333;
}


.main-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.datos-perfil {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
}

.datos-perfil h4 {
  margin-bottom: 15px;
  color: #205ab4;
}

.datos-perfil p {
  margin: 5px 0;
  line-height: 1.6;
  color: #444;
}

.datos-perfil p strong {
  color: #205ab4;
  margin-right: 5px;
}


.pedidos-container {
  max-width: 600px;
}

.pedidos-perfil {
  background-color: #eef2f7;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-top:15px;
  cursor: pointer;
  

}

.pedidos-perfil p {
  margin: 4px 0;
  line-height: 1.4;
  color: #555;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 15px 5px 0;
  background-color: #205ab4;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #14376d;
}
a{
  text-decoration: none;
}


@media (max-width: 768px) {
  .main-container {
      flex-direction: column;
  }

  .perfil-container, .pedidos-container {
      width: 90%;
      margin: 10px auto;
  }

}
