body {
  color: black;
  background-color: whitesmoke;
  padding-top: 10px;
  background-size: cover;
  margin: 0 auto;
}


.contenedor-restaurantes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.tarjeta-restaurante {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.tarjeta-restaurante:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagen-restaurante {
  width: 100%;
  height: auto;
  display: block;
}

.info-restaurante {
  padding: 15px;
}

.info-restaurante h4 {
  margin-top: 0;
  color: #333;
}

.info-restaurante p {
  color: #666;
}

.btn-ver-menu {
  text-decoration: none;
  background-color: #0056b3;
  color: white;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out;
}

.btn-ver-menu:hover {
  background-color: #003d82;
}
h3{
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-bottom: 15px;
}
