{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Formulario | Registro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
    <script src="{% static 'js/registro.js' %}"></script>

</head>
<body>
    <div id="formulario">
        <h1>REGISTRO</h1>
    </div>

    <div id="modalAlerta" class="modal">
        <div class="modal-content">
            <span id="closeModalAlerta" class="close">&times;</span>
            <p id="textoAlerta"></p>
        </div>
    </div>
    
    {% if user_form.errors or perfil_usuario_form.errors %}
    <div id="modalErrores" class="modal modalErrores">
        <div class="modal-content">
            <span id="closeModalErrores" class="close">&times;</span>
            {{user_form.errors}}
            {{perfil_usuario_form.errors}}
        </div>
    </div>
    {% endif %}

    <form action="{% url 'registro' %}" method="post" onsubmit="return validarFormulario()">
        {% csrf_token %}

        <div id="tabla-formulario">
            <label for="usuario">Usuario</label>
            <input placeholder="Ingrese su nombre de usuario..." name="username" type="text" id="usuario" />

            <label for="first_name">Nombre</label>
            <input placeholder="Ingrese su nombre..." name="first_name" type="text" id="first_name" />

            <label for="last_name">Apellido</label>
            <input placeholder="Ingrese su apellido..." name="last_name" type="text" id="last_name" />

            <label for="email">Correo electronico</label>
            <input placeholder="Escriba su e-mail" name="email" type="text" id="email" />

            <label for="password1">Contraseña</label>
            <input placeholder="Escriba contraseña" name="password1" type="password" id="password1" />

            <label for="password2">Repite la Contraseña</label>
            <input placeholder="Escriba contraseña" name="password2" type="password" id="password2" />

            <label for="fecha">Fecha nacimiento</label>
            <input placeholder="DD/MM/AA" name="fechaNacimiento" type="date" id="fecha" />

            <label for="direccion">Direccion</label>
            <input placeholder="Escriba su direccion" name="direccion" type="text" id="direccion" />
        </div>

        <button type="submit" class="btn">ACEPTAR</button>
    </form>
    
    <a href="{% url 'login' %}" class="btn-login">Ir al Login</a>
</body>
</html>
